body {
  width: 60ch;
  max-width: calc(100% - 2ch);
  margin: auto;
}

@media (max-width: 900px) {
  body {
    hyphens: auto;
  }
}

menu {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  column-gap: 2ch;
  flex-wrap: wrap;
}

menu li {
  display: inline;
}
