:root {
  --color-black: #000810;
  --color-white: #eff7ff;
  --color-accent-1: #0080ff;
  --color-accent-2: #ff4040;
  --color-text: var(--color-black);
  --color-background: var(--color-white);
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Scope One';
  src: url('/fonts/ScopeOne-Regular.ttf') format('truetype');
}

@media screen and (min-width: 901px) {
  body {
    text-align: justify;
  }
}

body { font-family: 'Helvetica Neue', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Barlow Condensed', sans-serif; }
code { font-family: 'Inconsolata', monospace; }
blockquote { font-family: 'Scope One', serif; }

body {
  font-size: 1.5em;
  line-height: 1.5em;
  background-color: var(--color-background);
  color: var(--color-text);
}

header address { font-style: normal; margin: 0; }
header address img { height: 1.5em; float: left; margin-right: 1ch; }

blockquote, pre {
  border-left: 2px solid var(--color-accent-1);
  margin: 0;
  padding-left: 2ch;
}

figure { width: 100%; margin: 0; }
figure > * { max-width: 100%; margin: auto; display: block; }

table { border-spacing: 1ch 2px; }

a {
  color: var(--color-text);
  text-decoration-color: var(--color-accent-1);
  text-underline-offset: 2px;
}
a:hover, a:focus { text-decoration-color: var(--color-accent-2); }

menu { list-style-type: none; padding: 0px; }
