:root {
  --color-black: #202020;
  --color-white: #ffffff;
  --color-accent-1: #0080ff;
  --color-accent-2: #ff4040;
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --font-head: 'Lora', serif;
  --font-body: 'Scope One', serif;
  --font-code: 'Inconsolata', monospace;
}

body.dark {
  --color-text: var(--color-white);
  --color-background: var(--color-black);
}

/* fonts */
h1, h2 {
  font-family: var(--font-head);
}

h3, h4 {
  font-family: var(--font-body);
}

h4 {
  font-weight: normal;
}

p, li, td {
  text-align: justify;
  hyphens: auto;
  font-family: var(--font-body);
}

header > p {
  font-style: italic;
}

code, pre {
  font-family: var(--font-code);
}

pre {
  border-left: 2px solid var(--color-accent-1);
  padding-left: 10px;
}

/* color */
body {
  color: var(--color-text);
  background-color: var(--color-background);
}

pre.copy:hover {
  border-left: 2px solid var(--color-accent-2);
  cursor: pointer;
}

pre.copy:hover::before {
  content: '📋';
  float: right;
}

/* links */
a[href^="#"] {
  border: none;
}

a[href^="#"]::before {
  margin-right: 0.5ch;
  content: '#';
  color: var(--color-accent-1);
}

a[href^="#"]:hover::before {
  color: var(--color-accent-2);
}

a {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 2px solid var(--color-accent-1);
  cursor: pointer;
}

a:hover {
  border-bottom: 2px solid var(--color-accent-2);
}

a[target='_blank']::after {
  color: var(--color-accent-1);
  content: '↗';
}

a[target='_blank']:hover::after {
  color: var(--color-accent-2);
}

svg.icon {
  vertical-align: middle;
  height: 0.85em;
}

a > svg.icon {
  color: var(--color-accent-1);
}

a:hover > svg.icon {
  color: var(--color-accent-2);
}

::selection {
  color: var(--color-background);
  background-color: var(--color-accent-1);
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Scope One';
  src: url('/fonts/ScopeOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
}

body.markdown {
  max-width: 80ch;
  margin: 3em auto;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown p,
.markdown ul,
.markdown li,
.markdown td,
.markdown pre,
.markdown code {
  text-align: left;
  font-size: 18px;
  font-family: var(--font-code);
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-weight: normal;
}

.markdown * + p,
.markdown * + h2,
.markdown * + pre {
  margin-top: 1em;
}

.markdown li { padding-bottom: 0em; }
.markdown h1::before { content: '# '; }
.markdown h2::before { content: '## '; }
.markdown h3::before { content: '### '; }
.markdown h4::before { content: '#### '; }
.markdown header p,
.markdown em { font-style: normal; }
.markdown header p::before,
.markdown header p::after,
.markdown em::before,
.markdown em::after { content: '_'; }
.markdown code::before,
.markdown code::after { content: '`'; }
.markdown pre,
.markdown pre:hover { padding-left: 4ch; border: none; }
.markdown a { color: var(--color-text); border: none; }
.markdown a::before { content: '['; }
.markdown a::after { color: var(--color-text); content: '](' attr(href) ')'; }
.markdown a::after:hover { color: var(--color-text); }
.markdown a[target='_blank']:hover::after { color: var(--color-text); }
.markdown a[href^="#"]::before,
.markdown a[href^="#"]:hover::before { color: var(--color-text); }
.markdown ul { list-style: none; padding-left: 0; }
.markdown ul li { display: block; }
.markdown ul > li::before { content: '* '; }
.markdown blockquote { margin: 0; }
.markdown blockquote::before { content: '> '; float: left; white-space: pre; }
.markdown a > svg.icon,
.markdown a:hover > svg.icon { color: var(--color-text); }

.markdown ::selection {
  color: var(--color-background);
  background-color: var(--color-text);
}