:root {
  --color-black: #202020;
  --color-white: #ffffff;
  --color-accent-1: #0080ff;
  --color-accent-2: #ff4040;
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --font-head: 'Barlow Condensed', sans-serif;
  --font-body: 'Helvetica Neue', sans-serif;
  --font-code: 'Inconsolata', monospace;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: 1.5em;
  line-height: 1.5;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 { font-family: var(--font-head); }
code, pre { font-family: var(--font-code); }
input { font-family: var(--font-body); }

body > header h1 { font-size: 2em; }
body > header h2 { font-size: 1.1em; }
body > main > h2 { font-size: 1.1em; }

h1 { margin-block: 0.5em; }

body > main section h2 { font-size: 1.1em; }
body > main header h1 { font-size: 2em; }
body > main header h2 { font-size: 1.0em; }
body > main main h2 { font-size: 1.0em; }

pre { font-size: 0.8em; }
input { font-size: 1em; margin: 10px auto; }

a { color: var(--color-text); text-decoration-color: var(--color-accent-1); text-underline-offset: 2px; }
a:hover, a:focus { text-decoration-color: var(--color-accent-2); }

header > address { font-style: normal; }
header > address > img.author { height: 2.5em; float: left; margin-right: 1ch; }

hgroup > h1 { margin-bottom: 0; }
hgroup > h2 { margin-top: 0; }

main > img.post { max-width: 80%; display: block; margin: auto; }
main > img.profile { width: 256px; display: block; margin: auto; }
main > blockquote, main > pre, main > ul { margin: 0; padding-left: 2ch; }
main > blockquote, main > pre { border-left: 2px solid var(--color-accent-1); }

form input:not([type="submit"]) { display: block; width: 100%; }
form input:not([type="submit"]) { outline: 0; border-width: 0 0 1px 0; }

.flex-field { display: flex; }
.flex-field > *:first-child { flex: 1; margin-right: 1ch; }

nav > ul { list-style-type: none; padding: 0; }